[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-allauth = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
dj-database-url = "*"
psycopg2 = "*"
dj-rest-auth = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
